:root {
  --dark: #1b262c;
  --mid: #0f4c75;
  --light: #bbe1fa;
  --accent: #3282b8;
}

.app {
  font-family:Arial, Helvetica, sans-serif;
  background: var(--dark);
  height: 100vh;
  padding: 30px;
}

.todo-list {
  margin: auto;
  width: 40%;
  background: var(--accent);
  border-radius: 10px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: var(--light);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 16px;
  color: var(--dark);
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

button {
  border-radius: 5px;
  border-style: none;
  color: var(--light);
  background-color: var(--accent);
  font-size: 16px;
  margin-right: 2px;
}

input {
  border-radius: 5px;
  border-style: none;
  padding: 3px 10px;
  color: var(--mid);
  background-color: var(--light);
  font-size: 16px;
  width: 50%;
}