.image {
  margin: auto;
  display: block;
  border-radius: 20%;
}

.frame {
  margin: auto;
  margin-top: 10px;
  width: min-content;
  min-width: 100px;
  background: var(--accent);
  border-radius: 20%;
  padding: 5px;
  text-align: center;
}

.caption {
  margin: auto;
  margin: 0px 2px 0px 2px;
  display: block;
  padding: 5px;
}
